body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom CSS for 3D effects */
.container-3d {
  perspective: 1000px;
}
.card-3d {
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.card-3d:hover {
  transform: rotateY(20deg);
}

img{
  width: 100%;
}